#boutique {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s cubic-bezier(.68,.99,.73,1.03);
    width: 100%;
    height: 100%;
    background-image: url("../../ressources/interactif/boutique/boutique.jpg");
    background-size: 100% 100%;
    position: relative;
}

#etagereCafe {
    bottom: 50%;
    left: 10%;
}

#etagereCafe > img {
    width: 60px;
}

#etagereThe {
    top: 20%;
    right: 20%;
}

#etagereThe > img {
    width: 40px;
}

#couloir{
    top: 38%;
    left: 47.5%;
}

#goBar{
    right: 5%;
    bottom: 20%;
}

#goBar > img{
    width: 60px;
    transform: rotate(45deg);
}