#secondContent {
    height: 3000px;
}

* {
    scroll-behavior: smooth;
}



/* Image Scroller */
.scrollerSection {
    position: relative;
    width: 100%;
    margin: auto;
    background-image: url("../ressources/main/boisClair.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

.imgScroller {
    min-width: 800px;
    max-width: 800px;
    height: 450px;
    margin: auto;
    overflow: hidden;
    display: flex;
    position: relative;
    border: 12px solid #1F1D19;
}
  
.scrollerBox {
    min-width: 100%;
    max-height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.imgInScroll {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.txtInScroll {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 96%;
    min-height: 10%;
    padding: 2%;
    background-color: rgba(31,29,25,0.7);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: #FFEECF;
}

.hidden {
    opacity: 0;
}

.ballBox {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex; 
}

.ball {
    border: 3px solid #1F1D19;
    border-radius: 100%;
    width: 6px;
    height: 6px;
    margin-left: 20px;
    margin-right: 20px;
    transition-duration: 200ms;
}

.ball:hover {
    scale: 1.25;
}

.currentBall {
    background-color: #1F1D19 !important;
}

.arrow {
    position: absolute;
    height: 27px;
    width: 133px;
    top: 50%;
    transition-duration: 200ms;
}

.arrow:hover {
    scale: 1.15;
}

#arrowLeft {
    right: 0;
    transform: translate(0, -50%) rotate(90deg);
}

#arrowRight {
    left: 0;
    transform: translate(0, -50%) rotate(-90deg);
}

.velourBackground {
    background-color: #470404;
    height: 180px;
    width: 30%;
    max-width: 100%;
    position: relative;
}





/* Les Articles */
.moreInfo {
    background-image: url("../ressources/main/moreInfo.png");
    background-size: cover;
    text-align: center;
    font-size: 35px;
    line-height: 50px;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.moreInfo1Line {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

#articleSection {
    display: flex;
    flex-direction: column;
    background-image: url("../ressources/main/boisClair.png");
    background-size: cover;
    position: relative;
    padding: 55px 0 55px 0;
}

.articleLine {
    justify-content: center;
    position: relative;
}

#articleLine1 {
    margin-bottom: 50px;
}

.article {
    width: 400px;
    height: 250px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: white;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #1F1D19;
    z-index: 1;
}

.articleImage {
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    transition-duration: 600ms;
}

.article:hover > .articleImage {
    scale: 1.3;
}



.txtInArticle {
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 10px !important;
}

.velourBackground2 {
    background-color: #470404;
    height: 90px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

    /* Articles détails*/
    .articleDetails{
        position: absolute;
        width: 900px;
        height: 560px;
        padding: 10px;
        border-radius: 30px;
        overflow: hidden;
        left: 50%;
        top: 28%;
        transform: translate(-50%, -25%);
        background-color: white;
        visibility: hidden;
        opacity: 0%;
        z-index: 100;
    }
    .subArticleDetails {
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 90%;
        margin-top: 20px;
    }

    .articleDetailsTitle {
        font-size: 25px;
        font-weight: 600;
        line-height: 1;
        margin-bottom: 10px;
    }
    .articleDetailsHeader {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.1;
    }
    .articleDetailsTxt {
        font-size: 14px;
        line-height: 1.1;
    }
    .txtCenter {
        text-align: center;
        padding: 0 100px 0 100px;
    }

    .articleDetailsVideo {
        display: block;
        margin: 0 auto;
        width: 700px;
        border: 10px solid #1F1D19;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .otherArticle {
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .otherArticle > .article{
        width: 200px;
        height: 125px;
        margin: 0 10px 0 10px;
    }
    .otherArticle > .article > .txtInArticle {
        font-size: 10px !important;
        padding: 5px !important;
    }

    .closeBtn {
        margin: auto;
        width: fit-content;
        padding: 0 35px 0 35px;
        margin-bottom: 10px;
        border-radius: 20px;
        background-color: #470404;
        color: white;
        transition-duration: 300ms;
    }

    .closeBtn:hover {
        scale: 1.1;
    }

    .croix{
        position: sticky;
        padding: 10px 10px 0 0;
        top: 0;
        display: -webkit-box;
        margin-left: auto;
        width: 20px;
        height: 20px;
    }

    .icroix{
        width: 20px;
    }

    .croix:hover {
        scale: 1.1;
    }

    .appear {
        visibility: visible !important;
        opacity: 100% !important;
        transition: 700ms linear;
    }

    .appearInstant {
        visibility: visible !important;
        opacity: 100% !important;
    }

    .body {
        background-color: rgba(48, 44, 53, 0.65);
        transition: 1000ms;
        overflow: hidden;
    }





/* Gallery */
.gallery {
    background-image: url("../ressources/main/boisClair.png");
    padding: 40px 0 40px 0;
}

.galleryColumn {
    margin: 0 20px 0 20px;
    width: 300px;
    position: relative;
    justify-content: center;
}

.g16-9 {
    width: 304px;
    height: 171px;
    margin: 20px 0 20px 0;
}

.g9-16 {
    width: 304px;
    height: 382px;
    object-fit: cover;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Footer */
footer {
    border-top: 2px solid rgb(184, 184, 184);
    padding: 25px;
    background-color: #1F1D19;
    color: white;
    position: relative;
}

.auteur {
    padding-right: 70px;
}

.footerImg {
    height: 100px;
}

.footerImgBox {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.realise {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

/*
top: 50%;
transform: translate(0, -50%);
right: 20px;
*/

/* Position */
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.fVerticalCenter {
    align-items: center;
}

.fSpaceBetween {
    justify-content: space-between;
}

.fCenter {
    justify-content: center;
}



/* texte */
.footerTxtSize {
    font-size: 11px;
    line-height: 14px;
}





/* Responsive */

@media screen and (min-width: 1920px) {
    /* Image Scroller */
    .imgScroller {
        min-width: 1120px;
        max-width: 1120px;
        height: 630px;
    }
    .txtInScroll {
        font-size: 20px;
        line-height: 25px;
    }
    .ball {
        width: 7px;
        height: 7px;
        margin-left: 28px;
        margin-right: 28px;
    }
    .arrow {
        height: 38px;
        width: 186px;
    }
    .velourBackground {
        height: 252px;
    }



    /* Article */
    .moreInfo {
        font-size: 50px;
        line-height: 70px;
    }
    .article {
        width: 560px;
        height: 350px;
        margin-right: 49px;
        margin-left: 49px;
    }
    #articleLine1 {
        margin-bottom: 70px;
    }

    .txtInArticle {
        font-size: 22px !important;
        line-height: 26px !important;
        padding: 14px !important;
    }
        /* Article Details */
        .velourBackground2 {
            height: 126px;
        }



    /* Footer */
    .footerTxtSize {
        font-size: 15px;
        line-height: 20px;
    }
    .footerImg {
        height: 140px;
    }
    footer {
        padding: 35px;
    }
    .realise {
        position: absolute;
        bottom: 35px;
        right: 35px;
    }
    
}